
@{
	ViewBag.Title = "Catalogue";
}

@section css {
	<link href="@Url.Content("~/Assets/css/catalogue.css")" rel="stylesheet" />
}

@section scripts{
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="~/Assets/js/catalogue.js"></script>
}

@{
	var produits = ViewBag.Produits;
}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<div class="" id="wrapper">

	<div class="cart-icon-top">
	</div>

	<div class="cart-icon-bottom">
	</div>

	<div id="checkout">
		COMMANDER
	</div>

	<div id="sidebar">
		<h3>Panier</h3><br />
		<div id="cart">
			<span class="empty">Panier vide.</span>
		</div>

		<h3>Types</h3>
		<div class="checklist categories">
			<ul>
				<li><a href=""><span></span>New Arivals</a></li>
				<li><a href=""><span></span>Accesories</a></li>
				<li><a href=""><span></span>Bags</a></li>
				<li><a href=""><span></span>Dressed</a></li>
				<li><a href=""><span></span>Jackets</a></li>
				<li><a href=""><span></span>jewelry</a></li>
				<li><a href=""><span></span>Shoes</a></li>
				<li><a href=""><span></span>Shirts</a></li>
				<li><a href=""><span></span>Sweaters</a></li>
				<li><a href=""><span></span>T-shirts</a></li>
			</ul>
		</div>

		<h3>Maisons &amp; Familles</h3>
		<div class="checklist categories">
			<ul>
				<li><a href=""><span></span>New Arivals</a></li>
				<li><a href=""><span></span>Accesories</a></li>
				<li><a href=""><span></span>Bags</a></li>
				<li><a href=""><span></span>Dressed</a></li>
				<li><a href=""><span></span>Jackets</a></li>
				<li><a href=""><span></span>jewelry</a></li>
				<li><a href=""><span></span>Shoes</a></li>
				<li><a href=""><span></span>Shirts</a></li>
				<li><a href=""><span></span>Sweaters</a></li>
				<li><a href=""><span></span>T-shirts</a></li>
			</ul>
		</div>


		<h3>MILLESIMES</h3>
		<div class="checklist sizes">
			<ul>
				<li><a href=""><span></span>2021</a></li>
				<li><a href=""><span></span>2020</a></li>
				<li><a href=""><span></span>2019</a></li>
				<li><a href=""><span></span>2018</a></li>
				<li><a href=""><span></span>2017</a></li>
				<li><a href=""><span></span>2016</a></li>
			</ul>
		</div>

	</div>

	<div id="grid-selector">
		<div id="grid-menu">
			View:
			<ul>
				<li class="largeGrid"><a href=""></a></li>
				<li class="smallGrid"><a class="active" href=""></a></li>
			</ul>
		</div>
		1–9 sur 48 résultats
	</div>

	<div id="grid">

		@foreach (var item in ViewBag.Produits)
		{
			<!--PRODUCT-->
			<div class="product">
				<div class="info-large">
					<h4>@item.Nom</h4>
					<div class="sku">
						PRODUCT SKU: <strong>89356</strong>
					</div>

					<div class="price-big">
						@item.Prix €
					</div>

					<h3>Famille</h3>
					<div class="colors-large">
						<p>Rouge, Rose, Blanc (pas encore definit)</p>
					</div>

					<h3>TAILLE</h3>
					<div class="sizes-large">
						<p>@item.Contenant</p>
					</div>

					<button class="add-cart-large">Ajouter au panier</button>

				</div>
				<div class="make3D">
					<div class="product-front">
						<div class="shadow"></div>
						<img src="@item.UrlPhoto" alt="" />
						<div class="image_overlay"></div>
						<div class="add_to_cart">AJOUTER AU PANIER</div>
						<a class="view_gallery" href="/produits/produit/@item.Id" >CONSULTER</a>
						<div class="stats">
							<div class="stats-container">
								<span class="product_price">@item.Prix €</span>
								<span class="product_name">@item.Nom</span>

								<div class="product-options">
									<strong>@item.Famille</strong>
									<span>@item.Contenant</span>
								</div>
							</div>
						</div>
					</div>

					<div class="product-back">
						<div class="shadow"></div>
						<div class="carousel">
							<ul class="carousel-container">
								<li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1.jpg" alt="" /></li>
								<li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2.jpg" alt="" /></li>
								<li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3.jpg" alt="" /></li>
							</ul>
							<div class="arrows-perspective">
								<div class="carouselPrev">
									<div class="y"></div>
									<div class="x"></div>
								</div>
								<div class="carouselNext">
									<div class="y"></div>
									<div class="x"></div>
								</div>
							</div>
						</div>
						<div class="flip-back">
							<div class="cy"></div>
							<div class="cx"></div>
						</div>
					</div>
				</div>
			</div>
			<!--END PRODUCT-->
		}





	</div>
</div>


